.first{
    width: 60px;
}
.nav-tab{
    width: 0;
    

}
.sidenav{
    z-index: 999;
}
.pointer{
    cursor: pointer;
}
.meal-layer {
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    position: absolute;
    top: 100%;
    transition: top 0.5s ease; /* Specify the transition property explicitly */
}

.meal:hover .meal-layer {
    top: 0;
}


.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color:#de3500 #0000 #fff #0000;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
 }
 .loader:before , .loader:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#fff;
    transform: translate(-10px, 19px) rotate(-35deg);
  }
 .loader:after {
    border-color: #de3500 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
  }
   @keyframes rotate {
    100%{    transform: rotate(360deg)}
  }

  .inner-loading-screen{
    position: absolute;
    z-index: 9;
    background-color: #0D0D0D;
    display: flex;
}
.loading-screen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}